@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject SidebarStateService SidebarStateService
@using Zagejmi.Read.Api.Services
@implements IDisposable

<div class="min-h-screen bg-gradient-to-r from-primary-950 to-primary-900 text-text-default">
    <NavMenu/>

    <div class="flex">
        <Sidebar/>

        <main class="flex-grow p-8 transition-all duration-300 ease-in-out">
            <div class="max-w-7xl mx-auto">
                @Body
            </div>
        </main>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
        SetSelectedPageFromUri(NavigationManager.Uri);
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        SetSelectedPageFromUri(e.Location);
        InvokeAsync(StateHasChanged);
    }

    private void SetSelectedPageFromUri(string uri)
    {
        string relativePath = new Uri(uri).AbsolutePath.Trim('/').ToLower();
        if (relativePath.StartsWith("people"))
        {
            SidebarStateService.SetSelectedPage("People");
        }
        else if (relativePath.StartsWith("wallets"))
        {
            SidebarStateService.SetSelectedPage("Wallets");
        }
        else if (relativePath.StartsWith("profile"))
        {
            SidebarStateService.SetSelectedPage("Profile");
        }
        else if (relativePath == "login" || relativePath == "register")
        {
            SidebarStateService.SetSelectedPage(""); // No sidebar content
        }
        else
        {
            SidebarStateService.SetSelectedPage("Home");
        }
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }

}
