@inherits LayoutComponentBase

<div class="min-h-screen bg-gradient-to-r from-primary-950 to-primary-900 text-text-default">
    <NavMenu/>

    <div class="flex">
        <Sidebar/>

        <main class="flex-grow p-8 transition-all duration-300 ease-in-out">
            <div class="max-w-7xl mx-auto">
                @Body
            </div>
        </main>
    </div>
</div>
