@inherits LayoutComponentBase

<div class="w-full min-h-full bg-gradient-to-r from-primary-950 to-primary-900">
    <div class="relative h-screen">
        <nav class="fixed w-full h-16 text-text-default z-50">
            <NavMenu/>
        </nav>
        
        <aside class="fixed h-full w-32 top-16 p-4 flex flex-col text-text-default gap-2 z-40">
            <a class="text-center">control template 1</a>
            <a class="text-center">control template 2</a>
        </aside>

        <main class="absolute top-16 left-32 right-0 bottom-0 p-8 rounded-2xl bg-gradient-to-r from-primary-900 to-primary-950 overflow-y-auto">
            @Body
        </main>
    </div>
</div>