@implements IDisposable

@inject NavigationManager NavigationManager
<div class="flex flex-row w-full h-full">
    <div class="flex justify-center h-full w-32 pl-4">
        <img src="img/cat.png" class="aspect-square" alt=""/>
    </div>

    <div class="pl-4 flex w-full h-full">
        <nav class="nav flex flex-row fl gap-2">
            <div class="nav-item px-3 flex items-center">
                <NavLink href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>

            <div class="nav-item px-3 flex items-center">
                <NavLink class="nav-link" href="people">
                    People
                </NavLink>
            </div>

            <div class="nav-item px-3 flex items-center">
                <NavLink class="nav-link" href="wallets">
                    Wallets
                </NavLink>
            </div>
        </nav>

        <div class="flex gap-2 flex-row-reverse grow pr-4">
            <a href="/register" class="text-violet-500 w-fit flex items-center">register</a>
            <a href="/login" class="flex items-center">login</a>
        </div>
    </div>
</div>

@code {
    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}