<div class="flex flex-row w-full h-full items-center">
    <div class="flex justify-center h-full w-32 pl-4 shrink-0">
        <img src="img/cat.png" class="aspect-square" alt="Zagejmi Logo"/>
    </div>

    <div class="pl-4 flex w-full h-full items-center">
        <nav class="flex flex-row gap-4">
            <NavLink href="" Match="NavLinkMatch.All" class="text-text-muted hover:text-text-default transition-colors">
                Home
            </NavLink>
            <NavLink href="people" class="text-text-muted hover:text-text-default transition-colors">
                People
            </NavLink>
            <NavLink href="wallets" class="text-text-muted hover:text-text-default transition-colors">
                Wallets
            </NavLink>
        </nav>

        <div class="flex gap-4 items-center ml-auto pr-4">
            <a href="/login" class="text-text-muted hover:text-text-default transition-colors">Login</a>
            <a href="/register"
               class="bg-accent-600 hover:bg-accent-700 text-text-default font-bold px-4 py-2 rounded-lg transition-colors shadow-lg shadow-accent-800/40">
                Register
            </a>
        </div>
    </div>
</div>