@page "/wallets"
@using Zagejmi.Server.Read.Components.Elements

<PageTitle>Wallets</PageTitle>

<div class="w-full h-32 flex gap-2 overflow-x-scroll overflow-y-clip no-scrollbar">
    <Card Class="h-32 hover:bg-accent-600 flex flex-col justify-center">
        <img src="favicon.png" alt="Wallet Icon" class="w-8 h-8"/>
        <p class="w-fit text-text-default">wallet</p>
        <p class="w-fit text-text-muted">Guid: 15342</p>
    </Card>
</div>

@{
    
}


