@using Zagejmi.Domain.Auth
@inject IServiceUser UserService 
@page "/register"

<div class="grid place-items-center">
    <h3>Register</h3>
    <div class="flex flex-col max-w-48 gap-2">
        <h1>Username</h1>
        <input type="email" class="border-2 bg-amber-50" @bind="_username"/>

        <h1>Password</h1>
        <input type="password" class="border-2 bg-amber-50" @bind="_password"/>

        <h1>Password Again</h1>
        <input type="password" class="border-2 bg-amber-50" @bind="_passwordAgain"/>

        <div class="flex flex-row gap-4">
            <button type="submit" class="p-2 bg-green-600 hover:bg-green-700 rounded-2xl">Submit</button>
            <a href="/login">
                <button type="button" class="p-2 bg-blue-500 hover:bg-blue-700 rounded-2xl">Login Instead</button>
            </a>
        </div>
    </div>
</div>

@code {
    private string _username = "";
    private string _password = "";
    private string _passwordAgain = "";

    private bool ValidatePassword()
    {
        return _password
            .Trim()
            .Equals(
                _passwordAgain.Trim()
            );
    }

}