@page "/wallets"
@using Zagejmi.Components.Elements

<PageTitle>Home</PageTitle>

<div class="w-full h-32 flex gap-2 overflow-x-scroll overflow-y-clip no-scrollbar">
    <Card Class="h-32 hover:bg-amber-50 flex flex-col justify-center">
        <img src="favicon.png" alt="" class="w-8 h-8"/>
        <p class="w-fit">wallet</p>
        <p class="w-fit">Guid: 15342</p>
    </Card>
</div>

@{
    
}


