<div class="relative aspect-square rounded-2xl border-4  overflow-hidden bg-amber-700 border-b-gray-900">
    <div class="absolute inset-0">
        <img src="img/cat.png" class="w-full h-full object-cover" alt="" />
    </div>
    <div class="absolute left-0 bottom-0 z-10 flex flex-col items-center justify-center w-full h-[20%] bg-gradient-to-r from-blue-950 to-blue-900 opacity-85">
        <p class="">
            Placeholder text
        </p>
        <div class="inline-flex p-1 rounded-2xl  bg-amber-600">
            <p>sample placeholder</p>
        </div>
    </div>
</div>

@code {
    
}